// out: default.min.css, compress: true

@base-color: #000;
@contrast-color: #fff;

body {
	overflow: hidden;
	background: #000 url('../picture/cover.jpg') no-repeat center fixed;
	background-size: cover;
}